@extends('layouts.master',['menu'=>'category'])
@section('content')


    <div class="container-fluid">

        <div class="row">
            <div class="col-12 table-responsive">
                <div class="row">
                    <a class="" href="{{route('categoryAdd')}}">{{__('Add')}}</a>
                </div>
                <table class="table" id="categories">
                    <thead>
                        <th>{{__('Name')}}</th>
                        <th>{{__('Status')}}</th>
                        <th>{{__('Created at')}}</th>
                        <th>{{__('Actions')}}</th>
                    </thead>
                </table>

            </div>
        </div>


    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    @include('widgets.footer')
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->

@endsection
@section('script')

    <script>
        $('#categories').DataTable({
            processing: true,
            serverSide: true,
            pageLength: 25,
            responsive: true,
            ajax: '{{route('categoryList')}}',
            order: [3, 'desc'],
            autoWidth:false,
            columns: [
                {"data": "name"},
                {"data": "status"},
                {"data": "created_at"},
                {"data": "actions",orderable: false, searchable: false}
            ]
        });
    </script>
@endsection